---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "./../tailus.css"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <title>Scream USC</title>

        <AstroFont
        config={[
            {
            name: "Plus Jakarta Sans",
            preload: true,
            display: "swap",
            selector: "html",
            fallback: "sans-serif",
            googleFontsURL: "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap",
            src: []
        },
        ]}
        />
    </head>
    <body class="bg-white text-gray-800 dark:bg-gray-950 dark:text-gray-100 text-lg">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
